h1 {
  font-family: 'Quando', serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -0.24px;
  vertical-align: top;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(#1b243c, #db9657);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: black 1px;
}
body {
  background: radial-gradient(#fbb95b 0px, #1b243c 70%);
}
.profile-card {
  font-family: 'Red Rose', cursive;
  line-height: 19px;
  font-weight: 400px;
  color: #ed9e57;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: #82c1e4 1px solid;
  padding-bottom: 1.5rem;
}

.profile-pic {
  width: 160px;
  height: 80px;
  border-radius: 50%;
}
.pc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
select {
  font-family: 'Red Rose', cursive;
  color: #82c1e4;
  border-radius: 10px;
  border: none;
  background-color: #1b243c;
  text-align: center;
  overflow: hidden;
  width: 95px;
  padding: 4px;
}
footer {
  word-spacing: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0px;
  border-top: #82c1e4 1px solid;
  padding-top: 1.5rem;
}
span {
  color: #82c1e4;
}
.post {
  border-radius: 10px;
  width: 300px;
  height: 150px;
  background-color: #1b243c;
  color: #db9657;
  font-family: 'Red Rose', cursive;
}
#feed-profile {
  width: 80px;
  height: 50px;
  border-radius: 50%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#profile1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 50px 50px 50px 50px;
}
#profile2,
#profile3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0px 50px 50px 50px;
}

#desktop-container {
  display: none;
}
@media only screen and (min-width: 300px) {
  h1 {
    font-family: 'Quando', serif;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: -0.24px;
    vertical-align: top;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(#1b243c, #db9657);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: black 1px;
  }
  body {
    height: 100%;
    width: 100%;
    background-color: #1b243c;
  }

  .profile-card,
  .container1 {
    display: none;
  }
  #desktop-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  #sidebar {
    align-items: space-around;
  }

  #news {
  }
  .allbtns {
    border-radius: 8%;
    background-color: #db9657;
    color: #1b243c;
    font-family: 'Red Rose', cursive;
    font-size: 2fr;
    border-color: #1b243c;
  }
  #profile1,
  #profile4 {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 50px 50px 50px 50px;
  }
  #profile2,
  #profile3,
  #profile5,
  #profile6 {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0px 50px 50px 50px;
  }
  footer {
    word-spacing: 3rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    border-top: #82c1e4 1px solid;
    padding-top: 1.5rem;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  span {
    color: #82c1e4;
  }
}
