html {
  max-width: 780px;
  min-width: 375px;
}
h1 {
  font-family: 'Quando', serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -0.24px;
  vertical-align: top;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(#1b243c, #db9657);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
body{
  background: radial-gradient(circle at center, #fbb95b 0px, #1b243c 100px);
  }
  .profile-card{
    font-family: 'Red Rose', cursive;
    line-height: 19px;
    font-weight: 400px;
    color: #ED9E57;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .profile-pic{
    width: 160px;
    height: 80px;
    border-radius: 50%;
  }
  .pc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;

  }
  select{
    font-family: 'Red Rose', cursive;
    color:#82c1e4;
    border-radius: 10px;
    border: none;
    background-color: #1b243c;
    text-align: center;
    overflow:hidden
    width: 15px;
    padding: 4px;
  }
footer {
  word-spacing: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0px;
}
span {
  color: #82c1e4;
}
.post{
  border-radius: 10px;
  width: 332px;
  height: 215px;

}
.feed-profile{
   width: 50px;
    height: 60px;
    border-radius: 50%;


}
.profile1{
  display: flex;
  flex-direction: column;
  align-content: center;;
  

}
.profile2{
  display: flex;
  flex-direction: column;
  align-content: center;

}
.profile3{
 display: flex;
  flex-direction: column;
  align-content: center;
}