h1 {
  font-family: 'Quando', serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -0.24px;
  vertical-align: top;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(#1b243c, #db9657);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  font-family: 'Red Rose', cursive;
  font-size: 20px;
}
html {
  max-width: 780px;
  min-width: 375px;
}
body {
  margin: auto;
  padding: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.greeting {
  background-image: url(express4.jpeg);
  background-size: cover;
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  background-size: height 385px, width 433px;
  border-radius: 15px;
  border: none solid;
  font-weight: 400;
  line-height: 24.98px;
  color: white;
  text-align: center;
  display: flex;
  padding: 20rem;
}
/* #greet{
  position: absolute;
  bottom: ;
} */

.express {
  /* display: flex;
  flex-direction: row;
  position: relative;
  top: 100px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}
.express1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.exists {
  color: #e4b2b3;
}
.create {
  color: #82c1e4;
}
button {
  background-color: black;
  color: white;
  border-radius: 20px;
  border-color: black;
  padding: 0.5rem;
  width: 219px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #db9657;
}
footer {
  word-spacing: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
span {
  color: #82c1e4;
}
