h1 {
  font-family: 'Quando', serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -0.24px;
  vertical-align: top;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(#db9657, #82c1e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: black 1px;
}
body {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#fbb95b 0px, #1b243c 70%);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container-img {
  background-image: url(/assets/expressivelo.webp);
  background-size: cover;

  background-position: 50% 30%;
  margin: 205px 62px 268px 56px;
  display: flex;
  align-items: inside;
  border-radius: 24px;
  overflow: hidden;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#container-form {
  font-family: 'Red Rose', cursive;
  font-weight: 300px;
  font-style: oblique !important;
  font-size: 24px;
  line-height: 29.98px;
  color: white;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  line-height: 100%;
  vertical-align: top;
}
label {
  font-family: 'Red Rose', cursive;
  color: #347af6;
  font-weight: 300;
  font-size: 15px;
  line-height: 17.5px;
  text-align: center;
  padding-right: 3rem;
}
.lf {
  font-family: 'Red Rose', cursive;
  background-color: black;
  border-radius: 10px;
  width: 200px;
  height: 20px;
  border-color: black;
  top: 385px;
  color: white;
}
button {
  font-weight: bold !important;
  background-color: black;
  color: white;
  border-radius: 20px;
  border-color: black;
  padding: 0.5rem;
  width: 219px;
  cursor: pointer;
}
button:hover {
  background-color: #db9657;
}

footer {
  word-spacing: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: #82c1e4 1px solid;
  padding-top: 1.5rem;
}
.form,
span {
  font-family: 'Roboto', sans-serif;
  color: #82c1e4;
  font-size: 15px;
  font-style: normal;
  line-height: 15px;
}
#cards {
  display: none;
}
@media only screen and (min-width: 780px) {
  h1 {
    font-family: 'Quando', serif;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: -0.24px;
    vertical-align: top;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(#1b243c, #db9657);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: black 1px;
  }
  body {
    overflow: scroll;
    height: 100vh;
    width: 100%;
    background-color: #1b243c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container-img,
  #container-form,
  .lf {
    display: none;
  }
  .calling-desktop {
    font-family: 'Red Rose', cursive;
    font-weight: 300px;
    font-style: oblique !important;
    font-size: 24px;
    line-height: 29.98px;
    color: white;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    line-height: 100%;
    vertical-align: top;
  }
  label {
    font-family: 'Red Rose', cursive;
    color: #fdff02;
    font-weight: 300;
    font-size: 15px;
    line-height: 17.5px;
    text-align: center;
    padding-right: 3rem;
  }
  .label-desktop {
    font-family: 'Red Rose', cursive;
    color: #fdff02;
    font-weight: 300;
    font-size: 15px;
    line-height: 17.5px;
    text-align: center;
    padding-right: 3rem;
    display: flex;
    align-self: center;
  }

  .lf-desktop {
    font-family: 'Red Rose', cursive;
    background-color: white;
    border-radius: 5px;
    width: 343px;
    height: 48px;
    border-color: white;
    top: 385px;
    color: black;
  }
  .lf-desktop::placeholder {
    color: black;
    font-family: 'Red Rose', cursive;
  }
  .button {
    font-weight: bold !important;
    background-color: #fdff02;
    color: black;
    border-radius: 20px;
    border-color: #fdff02;
    padding: 0.5rem;
    width: 219px;
    cursor: pointer;
  }

  #cards {
    height: 100vh;
    display: contents;
    display: grid;
    column-gap: 10px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'desktop-form topic topic topic'
      'desktop-form card1 card1 card2'
      'desktop-form card1 card1 card2'
      'desktop-form card3 card3 card4'
      'desktop-form card3 card3 card4';
  }
  #desktop-form {
    align-items: center;
    padding-top: 60px;
    padding-left: 4rem;

    grid-area: desktop-form;
  }
  #topic {
    color: #80bfe2;
    align-self: center;
    padding-left: 18rem;
    font-size: 48px;
    -webkit-text-stroke: black 1px;

    grid-area: topic;
  }
  #card1 {
    grid-area: card1;
  }
  #card2 {
    grid-area: card2;
  }
  #card3 {
    grid-area: card3;
  }
  #card4 {
    grid-area: card4;
  }

  #card4 img,
  #card1 img {
    max-width: 397px;
    max-height: 286px;
    border-radius: 24px;
  }
  #card2 img {
    max-width: 321px;
    max-height: 260px;
    border-radius: 24px;
  }
  #card3 img {
    max-width: 600px;
    max-height: 300px;
    border-radius: 24px;
    padding-top: 3rem;
  }

  #card1,
  #card2,
  #card3,
  #card4 {
    border-radius: 24px;
    text-align: center;
    font-family: 'Red Rose', cursive;
    color: white;
    padding-right: 40px;
  }

  footer {
    word-spacing: 3rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
