h1 {
  font-family: 'Quando', serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -0.24px;
  vertical-align: top;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(#1b243c, #db9657);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  height: 100%;
  background-image: radial-gradient(
    circle at center,
    #fbb95b 0px,
    #1b243c 100px
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container-img {
  background-image: url(/assets/expressivelo.webp);
  background-size: cover;
  background-position: 50% 30%;
  margin: 205px 62px 268px 56px;
  display: flex;
  align-items: inside;
  border-radius: 24px;
  overflow: hidden;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container-form {
  font-family: 'Red Rose', cursive;
  font-weight: 300px;
  font-style: oblique !important;
  font-size: 24px;
  line-height: 29.98px;
  color: white;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  line-height: 100%;
  vertical-align: top;
}
label {
  font-family: 'Red Rose', cursive;
  color: #347af6;
  font-weight: 300;
  font-size: 15px;
  line-height: 17.5px;
  text-align: center;
  padding-right: 3rem;
}
.lf {
  font-family: 'Red Rose', cursive;
  background-color: black;
  border-radius: 10px;
  width: 200px;
  height: 20px;
  border-color: black;
  top: 385px;
  color: white;
}
button {
  font-weight: bold !important;
  background-color: black;
  color: white;
  border-radius: 20px;
  border-color: black;
  padding: 0.5rem;
  width: 219px;
  cursor: pointer;
}
button:hover {
  background-color: #db9657;
}

footer {
  word-spacing: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form,
span {
  font-family: 'Roboto', sans-serif;
  color: #82c1e4;
  font-size: 15px;
  font-style: normal;
  line-height: 15px;
}
