html {
  max-width: 780px;
  min-width: 375px;
}
h1 {
  font-family: 'Quando', serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -0.24px;
  vertical-align: top;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(#1b243c, #db9657);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  background-image: url(./welcome\ b\ .webp);
}
.calling {
  font-family: 'Red Rose', cursive;
  font-weight: 300px;
  font-style: oblique !important;
  font-size: 24px;
  line-height: 29.98px;
  color: white;
  line-height: 100%;
  vertical-align: top;
}
form {
  margin: 205px 62px 268px 56px;
  display: flex;
  align-items: inside;
  border-radius: 24px;
  overflow: hidden;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.forms {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 20px;
  border-color: black;
  top: 385px;
}
.forms::placeholder {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
}

button,
button:hover {
  font-weight: bold !important;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  width: 219px;
  cursor: pointer;
}
button:hover {
  background-color: #82c1e4;
}

footer {
  word-spacing: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0px;
}
span {
  color: #82c1e4;
}
